# This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0
#
# http://docs.travis-ci.com/user/customizing-the-build/
# http://lint.travis-ci.org/

os: linux
dist: trusty
sudo: required
services: docker
language: c

env:
  global:
    #- http_proxy="http://example.com"
    - bintray_url="https://dl.bintray.com/beast-team"
  matrix:
    - XFROM="debian:jessie"  XUP="jessie"
    - XFROM="debian:testing" XUP="testing"
    - XFROM="ubuntu:trusty"  XUP="trusty"
    - XFROM="ubuntu:wily"    XUP="wily"
    - XFROM="ubuntu:xenial"  XUP="xenial"
matrix:
  fast_finish: true
  allow_failures:
    - env: XFROM="debian:testing" XUP="testing"
    - env: XFROM="ubuntu:trusty"  XUP="trusty"
    - env: XFROM="ubuntu:xenial"  XUP="xenial"

before_install:
  - uname -a
  - cat /etc/os-release
  - pwd
  - free -tm
  - make --version
  - python --version
  - $CC --version

install:
  # Complete history is required for VCSREVISION
  - travis_retry git fetch --unshallow
  # Point BINTRAYREPO at the beast-time package repository
  - export BINTRAYREPO="$bintray_url/$XUP snapshot main"
  # Configure Dockerfile by substituting @VAR@ with $VAR
  - ./buildtool.sh applyenv .travis.docker > Dockerfile
  # Build and run tests, create packages
  - docker build -t beast .
  # Test package installation and removal locally
  - docker run -ti --rm beast /bin/bash -c
        "set -x && dpkg-scanpackages . /dev/null | gzip -9c > Packages.gz &&
        echo 'deb [trusted=yes] file:///usr/src ./' > /etc/apt/sources.list.d/usrsrc.list &&
        retry apt-get update && apt-get install -y beast libbse-dev &&
        apt-get purge -y beast libbse-dev && apt-get --purge -y autoremove"

script:
  # Upload packages
  - test -z "$XUP" || docker run -ti --rm beast /bin/bash -c
    "export BINTRAY_APITOKEN=$BINTRAY_APITOKEN && ls -al && beast/buildtool.sh bintrayup beast-team $XUP/beast snapshot *.deb"
  # Test package installation from remote location
  - docker run -ti --rm beast /bin/bash -c \
        "set -x && retry apt-get -y install apt-transport-https ca-certificates &&
        apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 379CE192D401AB61 &&
        echo 'deb [trusted=yes] $BINTRAYREPO' | tee /etc/apt/sources.list.d/bintray-beast-team.list &&
        retry apt-get update && retry apt-get -y install beast libbse-dev"
  - docker ps -a

after_success:
  - echo "Done, all OK!"

notifications:
  irc:
    channels:
      - "irc.gimp.org#beast"
    on_success: change # always / never / change
    on_failure: change # always / never / change
    skip_join: true
  email: false
    #recipients:
    #  - beast@gnome.org
    #on_success: change
    #on_failure: change
