# This Source Code Form is licensed MPL-2.0: http://mozilla.org/MPL/2.0
#
# http://docs.travis-ci.com/user/customizing-the-build/
# http://lint.travis-ci.org/

os: linux
dist: trusty
sudo: required
services: docker
language: c

env:
  global:
    #- http_proxy="http://example.com"
    - INTENT="deb" # default intent
  matrix:
    # distcheck: succeed in 'make distcheck'
    - INTENT="distcheck" DIST="ubuntu:wily"
    # deb: build packages for distribution $DIST
    - DIST="ubuntu:wily"
    - DIST="debian:jessie"
    - DIST="debian:testing"
    - DIST="ubuntu:xenial"
    #- DIST="ubuntu:trusty" # C++11 support too old
matrix:
  allow_failures:
    - env: DIST="debian:testing"
    - env: DIST="ubuntu:xenial"
  fast_finish: true

before_install:
  # Build variable setup
  - export DISTNAME="${DIST%:*}" DISTRELEASE="${DIST#*:}" # Example: DIST=debian:jessie DISTNAME=debian DISTRELEASE=jessie
  - export BINTRAYREPO="deb [trusted=yes] https://dl.bintray.com/beast-team/deb $DISTRELEASE main"
  - echo "DIST=$DIST DISTNAME=$DISTNAME DISTRELEASE=$DISTRELEASE BINTRAYREPO='$BINTRAYREPO'"
  # Sample environment
  - uname -a
  - cat /etc/os-release
  - pwd
  - free -tm
  - make --version
  - python --version
  - $CC --version

install:
  # Complete history is required for monotonic revisioning
  - travis_retry git fetch --unshallow
  # Configure Dockerfile by substituting @VAR@ with $VAR
  - ./buildtool.sh applyenv .travis.docker > Dockerfile
  # Build and run tests, create packages
  - docker build -t beast .

script:
  # Upload packages
  - ([ $INTENT = deb ] || exit 0 && docker run -ti --rm beast /bin/bash -c \
      "export BINTRAY_APITOKEN=$BINTRAY_APITOKEN && ls -al && beast/buildtool.sh bintrayup beast-team deb/beast $DISTRELEASE *.deb")
  # Test package installation from remote location
  - ([ $INTENT = deb ] || exit 0 && sleep 60 && travis_retry docker run -ti --rm beast /bin/bash -c \
        "set -x && retry apt-get -y install apt-transport-https ca-certificates &&
        echo '$BINTRAYREPO' | tee /etc/apt/sources.list.d/bintray-beast-team.list &&
        retry apt-get update && retry apt-get -y install beast libbse-dev")
  - docker ps -a

after_success:
  - echo "Done, all OK!"

notifications:
  irc:
    channels:
      - "irc.gimp.org#beast"
    on_success: always
    on_failure: always
    skip_join: true
  email: false
    #recipients:
    #  - beast@gnome.org
    #on_success: never
    #on_failure: change
