/* GNU LGPL v2.1+: http://www.gnu.org/licenses/lgpl.html */

/* Only use variable declarations or mixin function declarations here */

/* == Theme Settings == */
$vc-theme-foreground: 		#ffffff;
$vc-theme-background: 		#505050;
$vc-theme-border-radius:	3px;
$vc-panel-background-lg0:	lighten($vc-theme-background, 1%);
$vc-panel-background-lg1:	darken($vc-theme-background, 1%);
$vc-panel-background-lg:	linear-gradient(to bottom, $vc-panel-background-lg0 0%, $vc-panel-background-lg1 100%);
$vc-panel-background-border:	darken($vc-theme-background, 25%);
$vc-panel-background-light:	lighten($vc-theme-background, 9%);
$vc-panel-background-dark:	darken($vc-theme-background, 9%);
$vc-toolbar-background:		#606060;
$vc-toolbar-background-lg:	linear-gradient(to bottom, #666666 0%, #5a5a5a 100%);
$vc-button-foreground:   	#dddddd;
$vc-button-light:   		#999999;
$vc-button-lg:      		linear-gradient(to bottom, #777777 0%, #707070 45%, #606060 55%, #555555 100%);
$vc-button-dark:    		#444444;
$vc-button-radius:		$vc-theme-border-radius;
$vc-button-border:   		#333333;
$vc-button-hover:		fade(#ffffff, 10%);
$vc-button-active:		fade(#000000, 20%);
$vc-button-active-fg:		#bbbbbb;
$vc-button-active-lg:     	linear-gradient(to bottom, #606060 0%, #707070 50%, #606060 100%);
$vc-button-active-border:	#555555;
$vc-glow-control:		#0080ff;
$vc-focus-outline:		1px solid $vc-glow-control;
$vc-boxshadow-color:		fade(#000000, 30%);

/* == vc-part-thumb == */
$vc-part-thumb-font: bold 8px sans-serif; /* format: italic small-caps bold 12px serif */
$vc-part-thumb-font-color: rgba(255, 255, 255, 0.7);
$vc-part-thumb-note-color: rgba(255, 255, 255, 0.7);
$vc-part-thumb-colors: #ff7b50, #f68403, #d6960e, #92ad19, #67b518, #22bb27, #21b873, #24b3b3, #11adeb, #799fff, #a094ff, #c287ff, #e473ff, #ff5ff5, #ff70b0;
