/* == Resets == */
input, textarea, keygen, select,
button          		{ font: inherit; }
button          		{ -webkit-appearance: normal; }


/* == Button == */
.theme-buttonframe 		{ border: 1px solid @button-border; }
.theme-buttonshade 		{ background-image: @button-lg;
				  border-top: 1px solid @button-light; border-left: 1px solid @button-light;
				  border-bottom: 1px solid @button-dark; border-right: 1px solid @button-dark; }
.theme-buttonhover		{ box-shadow: inset 500px 500px @button-hover; }
.theme-buttonactive		{ box-shadow: inset 500px 500px @button-active;
				  background-image: @button-active-lg;
				  border-color: @button-active-border; }
button                  	{ .theme-buttonshade;
				  display: inline-flex; text-align: center; margin: 0; padding: 3px 1em; }
button:focus            	{ outline: @focus-outline; }
button:hover            	{ .theme-buttonhover; }
button.fake-active,
button:active           	{ .theme-buttonactive; }
button, button *        	{ color: @button-foreground; fill: @button-foreground !important; }
button.fake-active *,		/* use '*' + fill!important to include svg elements in buttons */
button:active *         	{ color: @button-active-fg; fill: @button-active-fg !important; }
/* .IconButton */
.IconButton			{ margin: 0 0; padding: 7px; }
.IconButton .IconButtonIcon	{ font-size: 1.3em /*1.33333333em*/; }
/* .ButtonBox */
.ButtonBox			{ display: inline-flex; background-color: @button-border;
				  border: 1px solid @button-border; }
.ButtonBox button		{ margin: 0 0 0 1px; }
.ButtonBox button:first-of-type	{ margin-left: 0; }
.ButtonBox				{ border-radius: @button-radius; }
.ButtonBox > button:first-of-type	{ border-top-left-radius: @button-radius; border-bottom-left-radius: @button-radius; }
.ButtonBox > button:last-of-type	{ border-top-right-radius: @button-radius; border-bottom-right-radius: @button-radius; }

/* == Layouts == */
html .w100			{ width: 100%; }
html .h100			{ height: 100%; }
/* https://www.w3.org/TR/css-flexbox-1/#valdef-flex-basis-content
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */
.hbox, .vbox			{ display: flex; flex-basis: auto;
				  align-items: center; justify-content: center; }
.hbox				{ flex-flow: row; width: auto; }
.vbox				{ flex-flow: column; height: auto; }
.minbox, .maxbox		{ display: flex; flex-shrink: 0; flex-basis: auto;
				  max-height: 100%; max-width: 100%; }
.minbox				{ flex-grow: 0; }
.maxbox				{ flex-grow: 1; }
html .shrinkbox			{ flex-shrink: 1; }
