/*
**
** Basic CSS1 information for little-CSS-aware
** browsers (ie. 4.x series).
**
*/

@import url("compliant.css");

html, body {
  margin-top: 7px;
}

#page-title {
  font-size: 160%;
}

/* {{{ banners,  large and small */
#banner {
  background-image: url(images/beast-bg.png);
  background-position: top right;
  background-repeat: repeat-x;
  height: 120px;
}

#banner-small {
  background-image: url(images/horizontal-dots.png);
  background-position: 0px 55px;
  background-repeat: repeat-x;
  margin: 0 0.5em;
}

/* }}} */

/* {{{ real content layout */
#content {
  font-size: 90%;
  padding-right: 1em;
  margin-top: 1em;
}

#content.nav {
  margin-left: 230px;
}

#content.nonav {
  margin-left: 1em;
}

/* }}} */

/* {{{ navigation links */
#navigation {
  font-family: sans-serif;
  list-style-type: none;
  width: 200px;
  float: left;
  margin-left: -1px;
  padding-left: 6px;
  padding-right: 10px;
}

/* }}} */

body {
  background-color: White;
  color: Black;
  margin: 0;
}

a {
  text-decoration: none;
  text-decoration: underline;
  color: #0000ff;
}

a:hover {
  text-decoration: underline;
  background-color: #e8e8ff;
  /* color: #005090; */
}

a:visited {
  color: #460086;
}

a:active {
}

h1 {
  font-size: 150%;
  font-weight: normal;
}

h1.banner {
  margin: 0;
  font-size: 140%;
  font-weight: normal;
}

h1, h2, h3, h4 {
  color: #005a9c;
  /* background-color: White; */
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

dt {
  /* text-decoration: underline; */
  font-weight: bold;
}

dd {
  margin-left: 2em;
}

ul, ol {
  margin-top: 0;
  padding-top: 0;
}

h1.document-title {
  font-size: 160%;
  color: #005a9c;
  background-color: White;
  text-align: center;
}

div.document-author {
  font-size: 140%;
  margin-bottom: 1em;
  text-align: center;
}

thead td {
  background-color: #005d5d;
  color: #d0e4d0;
  font-weight: bold;
  padding-left: 4px;
}

div.index {
}

.error {
  font-weight: bold;
  color: red;
}

.errorbox {
  background-color: #f0f0f0;
  border: 1px solid #999999;
  padding-left: 1em;
  padding-right: 1em;
}

.errorbox ul {
  padding-left: 2em;
  list-style-type: square;
  color: #222222;
}

.toc-chapter {
}

.toc-section {
  margin-left: 2em;
}

.toc-subsection {
  margin-left: 4em;
}

.toc-subsubsection {
  margin-left: 6em;
}

code.code {
}

code.url {
}

code.email {
}

code.key {
}

code.env {
}

code.file {
  font-weight: bold;
}

/* A bit more colorful file names in ChangeLogs */
code.changelog-item {
  color: #b08000;
  font-weight: bold;
}

/* Date, time and author lines in titles */
code.changelog-entry {
  color: #888888;
}

code.command {
}

code.option {
}

code.menupath {
  font-weight: bold;
  /* FIXME italic monospace fonts look so ugly! :\ */
  /* font-style: italic; */
  background-color: #e0e0e0;
}

code.pagepath {
  font-weight: bold;
  background-color: #f0f0f0;
}

code.object {
  /* FIXME italic monospace fonts look so ugly! :\ */
  /* font-style: italic; */
}

code.channel {
  /* FIXME italic monospace fonts look so ugly! :\ */
  /* font-style: italic; */
}

acronym {
  text-transform: uppercase;
}

strong.important {
  color: #df5fdf;
  font-weight: bold;
  text-decoration: underline;
}

/* {{{ api reference  */
code.reference-function {
  color: #5555cc;
  font-weight: bold;
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
}

code.reference-parameter {
  color: #555555;
  font-weight: normal;
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
}

code.reference-constant {
  color: #00b0b0;
  font-family: sans-serif;
}

code.reference-returns {
  color: #00c000;
  margin-left: -1em;
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
}

code.reference-type {
  color: #00c000;
  font-weight: normal;
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
}

code.reference-blurb {
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
}

code.reference-struct-type {
  color: #682407;
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
  font-weight: normal;
}

code.reference-struct-name {
  color: #00c000;
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
  font-weight: normal;
}

code.reference-struct {
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
  font-weight: normal;
}

code.reference-struct-close {
  margin-left: -2em;
  /* FIXME This is here because monospace looks ugly :\ */
  font-family: sans-serif;
}
/* }}} */

/* {{{ block enclosing commands */
blockquote {
  margin-top: 0;
  margin-left: 4em;
  text-indent: 2em;
}

div.indented-block {
  margin-top: -1em;
  margin-left: 4em;
}

pre.example {
}

pre.smallexample {
  font-size: 90%;
}

pre.lisp {
  color: #000040;
}

pre.smalllisp {
  color: #000040;
  font-size: 90%;
}

pre.smalldisplay {
  font-size: 90%;
}

pre.smallformat {
  font-size: 90%;
}
/* }}} */

div.toc {
}

div.chapter {
}

div.unnumbered {
}

div.appendix {
}

div.chapheading {
}

div.center {
  text-align: center;
}

table.multitable {
}

table.indented {
  margin-left: 2em;
}

/* {{{ news items */
span.news-date {
  border: none;
  font-weight: bold;
}

span.news-heading {
  font-weight: bold;
  color: #4d4daa;
  background-color: White;
}
/* }}} */

/* {{{ file list */
table.browse {
  text-align: left;
  border: 0;
  white-space: nowrap;
}

table.browse thead td {
  font-weight: bold;
  color: #dddddd;
  background-color: #5f5f89;
}

table.browse thead td.browser-name {
  font-weight: bold;
  color: #dddddd;
  background-color: #555577;
  text-align: center;
}

table.browse td {
  padding: 0.4em;
  margin: 0.4em;
}

table.browse tr.paginate {
  font-size: 80%;
  background-color: #f6f6f6;
  color: inherit;
  padding: 1em;
  text-align: center;
  border-top: 1px #555577 solid;
  border-bottom: 1px #555577 solid;
}

table.browse tr.switcher {
  font-size: 80%;
  background-color: #f9f9f9;
  color: #666666;
  text-align: right;
}

table.browse tr.legend {
  font-size: 80%;
  background-color: #f3f3f3;
  color: #555555;
}

/* {{{ directory stack */

/* {{{ standard mode */

/* {{{ dot directory */

table.browse tr.dot-directory {
  font-weight: bold;
  color: #dddddd;
  background-color: #66667f;
}

table.browse td.dot-directory td.icon {
}

table.browse td.dot-directory td.name {
  font-family: monospace;
}

table.browse tr.dot-directory td.info {
  font-weight: bold;
  white-space: normal;
}

table.browse tr.dot-directory td.size {
  font-family: monospace;
  font-weight: bold;
}

table.browse tr.dot-directory td.date {
  font-style: italic;
  font-weight: normal;
}

/* }}} */

/* {{{ dotdot directory */

table.browse tr.dotdot-directory {
  font-weight: bold;
  color: #555555;
  background-color: #dadaf4;
}

table.browse tr.dotdot-directory td.icon {
}

table.browse tr.dotdot-directory td.name {
  font-family: monospace;
}

table.browse tr.dotdot-directory td.info {
  font-weight: bold;
  white-space: normal;
}

table.browse tr.dotdot-directory td.size {
  font-family: monospace;
  font-weight: bold;
}

table.browse tr.dotdot-directory td.date {
  font-style: italic;
  font-weight: normal;
}

/* }}} */

/* }}} */

/* {{{ mini tree mode */

/* {{{ current directory */

table.browse tr.current-directory {
  font-weight: bold;
  color: #dddddd;
  background-color: #66667f;
}

table.browse tr.current-directory td.icon {
}

table.browse tr.current-directory td.name {
  font-family: monospace;
}

table.browse tr.current-directory td.info {
  font-weight: bold;
  white-space: normal;
}

table.browse tr.current-directory td.size {
  font-family: monospace;
  font-weight: bold;
}

table.browse tr.current-directory td.date {
  font-style: italic;
  font-weight: normal;
}

/* }}} */

/* {{{ upper directories */

table.browse tr.upper-directory-odd {
  background-color: #dadaf4;
}

table.browse tr.upper-directory-even {
  background-color: #eeeeff;
}

table.browse tr.upper-directory-odd,
table.browse tr.upper-directory-even {
  font-weight: bold;
  color: #555555;
}

table.browse tr.upper-directory-odd td.icon,
table.browse tr.upper-directory-even td.icon {
}

table.browse tr.upper-directory-odd td.name,
table.browse tr.upper-directory-even td.name {
  font-family: monospace;
}

table.browse tr.upper-directory-odd td.info,
table.browse tr.upper-directory-even td.info {
  color: #555577;
  white-space: normal;
}

table.browse tr.upper-directory-odd td.size,
table.browse tr.upper-directory-even td.size {
  font-family: monospace;
}

table.browse tr.upper-directory-odd td.date,
table.browse tr.upper-directory-even td.date {
  font-style: italic;
  font-weight: normal;
}

/* }}} */

/* }}} */

/* }}} */

/* {{{ dirs */

table.browse tr.dir-odd {
  background-color: #dadada;
}

table.browse tr.dir-even {
  background-color: #eeeeee;
}

table.browse tr.dir-even td.icon,
table.browse tr.dir-odd td.icon {
}

table.browse tr.dir-even td.name,
table.browse tr.dir-odd td.name {
  font-family: monospace;
}

table.browse tr.dir-even td.info,
table.browse tr.dir-odd td.info {
  color: #555577;
  white-space: normal;
}

table.browse tr.dir-even td.size,
table.browse tr.dir-odd td.size {
  font-family: monospace;
}

table.browse tr.dir-even td.date,
table.browse tr.dir-odd td.date {
  font-style: italic;
  font-weight: normal;
}

/* }}} */

/* {{{ files */

table.browse tr.file-odd {
  background-color: #dadada;
}

table.browse tr.file-even {
  background-color: #eeeeee;
}

table.browse tr.file-even td.icon,
table.browse tr.file-odd td.icon {
}

table.browse tr.file-even td.name,
table.browse tr.file-odd td.name {
  font-family: monospace;
}

table.browse tr.file-even td.info,
table.browse tr.file-odd td.info {
  color: #555577;
  white-space: normal;
}

table.browse tr.file-even td.size,
table.browse tr.file-odd td.size {
  font-family: monospace;
}

table.browse tr.file-even td.date,
table.browse tr.file-odd td.date {
  font-style: italic;
  font-weight: normal;
}

/* }}} */

/* }}} */

/* vim: set fdm=marker: */
