#!/usr/bin/make -f

# https://www.debian.org/doc/manuals/maint-guide/dreq.html#customrules

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# main packaging script based on dh7 syntax
%:
	dh $@ --parallel --with autotools-dev --with python2

# debmake generated override targets
override_dh_auto_configure:
	dh_auto_configure -- --disable-static
override_dh_install:
	dh_install --fail-missing
override_dh_auto_install:
	dh_auto_install
	@ # https://wiki.debian.org/ReleaseGoals/LAFileRemoval
	find debian/tmp -name '*.la' -delete
	@ # fix binary-without-manpage usr/bin/beast-0.9.3
	LNK=`basename debian/tmp/usr/bin/beast-*` && \
	ln -s beast.1 debian/tmp/usr/share/man/man1/$$LNK.1
override_dh_makeshlibs: # for -X<findpattern>, see: fgrep -C5 EXCLUDE_FIND /usr/share/perl5/Debian/Debhelper/Dh_Lib.pm
	dh_makeshlibs '-X/bse-[0-9.]+/drivers/'
override_dh_installdocs-indep:
	dh_installdocs --indep
	@ # remove unused doxygen files
	dh_doxygen --indep
