/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.sub
/depcomp
/install-sh
/intltool.m4
/libtool.m4
/ltmain.sh
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/missing
/py-compile
/stamp-h1
