@import "assets/widgets.less";
@import "assets/dialogs.less";

/* == Settings == */
@theme-foreground: 		#ffffff;
@theme-background: 		#505050;
@theme-border-radius:		3px;
@panel-background-lg0:		lighten(@theme-background, 1%);
@panel-background-lg1:		darken(@theme-background, 1%);
@panel-background-lg:		linear-gradient(to bottom, @panel-background-lg0 0%, @panel-background-lg1 100%);
@panel-background-border:	darken(@theme-background, 25%);
@panel-background-light:	lighten(@theme-background, 9%);
@panel-background-dark:		darken(@theme-background, 9%);
@button-foreground:   		#dddddd;
@button-light:   		#999999;
@button-lg:      		linear-gradient(to bottom, #777777 0%, #707070 45%, #606060 55%, #555555 100%);
@button-dark:    		#444444;
@button-border:   		#555555;
@button-hover:			fade(#ffffff, 10%);
@button-active:			fade(#000000, 20%);
@button-active-fg:		#bbbbbb;
@button-active-border:		#333333;
@glow-control:			#0080ff;
@focus-outline:			1px solid @glow-control;

/* == Body Styles == */
BrowserWindowDefaults		{ ; /* used by main.js */
				  backgroundColor:          @theme-background; /* #rrggbb needed */
				  defaultFontSize:          14;              /* int needed */
				  defaultMonospaceFontSize: 13;              /* int needed */ }
gradient-01			{ -im-convert: "-size 67x1080 -attenuate 0.2 +noise Uniform
						gradient:@{panel-background-lg0}-@{panel-background-lg1}"; }
.gradient-01-bg			{ background-color: @theme-background;
				  /* gradient with banding */
				  background-image: @panel-background-lg;
				  /* gradient image with reduced banding */
				  background: url(gradient-01.png) center repeat-x; background-size: auto 100%; }
html				{ width: 100vw; height: 100vh; font-family: sans; }
body				{ width: 100%; height: 100%; overflow: hidden; font: inherit;
				  padding: 0; margin: 0; color: @theme-foreground;
				  .gradient-01-bg; }
body.window-inactive 		{ color: fade(@theme-foreground, 80%); }
*				{ box-sizing: border-box; text-overflow: ellipsis; }

/* == Scrollbars == */
::-webkit-scrollbar 		{ height: 5px; width: 5px; background: #000; }
::-webkit-scrollbar-corner	{ background: rgba(0, 0, 0, 0); }
::-webkit-scrollbar-track 	{ background-size: 2px 2px;
				  background-image: linear-gradient(45deg,
								    #111 0%, #444 50%,
								    #333 50%, #aaa 100%); }
::-webkit-scrollbar-thumb 	{ background: @glow-control; -webkit-border-radius: 0.1ex;
				  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); }
::-webkit-scrollbar-thumb:window-inactive	{ background: #333;
						  /* background: fade(@glow-control, 20%); */
						  -webkit-box-shadow: none; }

