
// == Scrollbar Settings ==
$webkit-scrollbar-size:		13px;
$scrollbar-background:		#333333;
$scrollbar-track-border0:	#080808;
$scrollbar-track-border1:	#111111;
$scrollbar-handle-spread:	7.4%;
$scrollbar-handle-base:		#707070;
$scrollbar-handle-dim:		mix($scrollbar-background, $scrollbar-handle-base); 	// inactive
$scrollbar-handle-hover:	adjust-color($scrollbar-handle-base, $lightness: +15%); // mouse hover
$scrollbar-handle-bright:	adjust-color($scrollbar-handle-base, $lightness: +15%);	// button hover, inverted
$webkit-scrollbar-thumb-border: change-color($scrollbar-track-border0, $alpha: 0.34);
$scrollbar-shadow-rgba:		rgba(0, 0, 0, 0.25);

// == Scrollbars ==
::-webkit-scrollbar {
  height: $webkit-scrollbar-size; width: $webkit-scrollbar-size;
  background: $b-main-background;
  border-radius: 0; border: none;
}
::-webkit-scrollbar-corner {
  background: $b-main-background;
}

// track
::-webkit-scrollbar-track {
  border: 1px solid; border-radius: 999px;
  background: $scrollbar-background;
  box-shadow: 0 1px 1px 0 $scrollbar-shadow-rgba inset;
  // box-shadows outside of -webkit-scrollbar are clipped, so we cannot draw a light edge
  &:horizontal {
    border-color: $scrollbar-track-border0 $scrollbar-track-border1 $scrollbar-track-border1 $scrollbar-track-border1;
  }
  &:vertical {
    border-color: $scrollbar-track-border1 $scrollbar-track-border1 $scrollbar-track-border1 $scrollbar-track-border0;
  }
}

// thumb
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: $scrollbar-handle-base;
  // the thumb is hardcoded to always be as wide as the scrollbar; to make it appear as
  // running *inside* the track, we use a combination of background-clip and fake border.
  border: 1px solid $webkit-scrollbar-thumb-border;
}
@mixin webkit-scrollbar-thumb-shading ($basecolor, $spreadlightness, $dir: bottom) {
  $bg-light:    adjust-color($basecolor, $lightness: +$spreadlightness);
  $bg-dark:     adjust-color($basecolor, $lightness: -$spreadlightness);
  background: linear-gradient(to $dir, $bg-light, $bg-dark);
  background-clip: content-box;
  $xpx: if($dir != bottom, 1px, 0);
  $ypx: if($dir == bottom, 1px, 0);
  box-shadow: $xpx $ypx 0 0 rgba(255, 255, 255, 0.15) inset;
  box-shadow: $xpx $ypx 0 0 rgba(255, 255, 255, 0.15) inset;
}
@mixin webkit-scrollbar-thumb($dir) {
  &:hover { @include webkit-scrollbar-thumb-shading ($scrollbar-handle-hover, $scrollbar-handle-spread, $dir); }
  &:window-inactive { @include webkit-scrollbar-thumb-shading ($scrollbar-handle-dim, $scrollbar-handle-spread, $dir); }
  @include webkit-scrollbar-thumb-shading ($scrollbar-handle-base, $scrollbar-handle-spread, $dir);
}
::-webkit-scrollbar-thumb:vertical   { @include webkit-scrollbar-thumb (right); }
::-webkit-scrollbar-thumb:horizontal { @include webkit-scrollbar-thumb (bottom); }

// webkit-scrollbar-button
::-webkit-scrollbar-button {
  height: $webkit-scrollbar-size; width: $webkit-scrollbar-size;
  background: transparent;
  background-position: center; background-repeat: no-repeat;
  background-size: 80%; // background-size: contain;
  border-radius: 999px;
  &:hover { background-color: $scrollbar-handle-bright; }
}
::-webkit-scrollbar-button:vertical:decrement   { background-image: url(/assets/tri-n.png); }
::-webkit-scrollbar-button:horizontal:increment { background-image: url(/assets/tri-e.png); }
::-webkit-scrollbar-button:vertical:increment   { background-image: url(/assets/tri-s.png); }
::-webkit-scrollbar-button:horizontal:decrement { background-image: url(/assets/tri-w.png); }

// See Makefile.mk for scrollbar-arrow image generation
@supports (--makefile: rule) {
  scrollbar-arrow { im-convert: "-fuzz 99% -fill #{$scrollbar-handle-base} -opaque black"; } // convert arrow color
}
