				RELEASE-NOTES
				=============

	Much has changed in the new development version of BEAST,
	this is still experimental code and might not always work
	as expected ;)
	However, the current code is already good enough to perform
	basic synthesis tasks (some features from older versions
	are temporarily disabled in this development version) and
	to have lots of fun with.
	
	A good starting point are the test files shipped in the
	tests/ subdirectory of the source package.
	
	For uptodate information on BEAST development, please visit:
	
			http://beast.gtk.org
	
	Questions, comments, bug reports and similar stuff
	should be sent to:

			beast@beast.gtk.org


